@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800&display=swap');

:root {
  --caveat-font-family: 'Caveat', cursive;
  --tajawal-font-family: 'Tajawal', sans-serif;
  --main-clr: rgb(21, 21, 42);
  --orange-clr: rgb(244, 160, 130); 
  --blue-clr: rgb(55, 101, 147, 0.85);
  --light-clr: rgb(251, 231, 223);
}

::selection {
  background-color: var(--orange-clr);
}

html {
  background-image: url("images/pattern_seamless.jpg");
  background-repeat: repeat;
  background-size: 350px;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: /* 10em */auto 70vh auto 24em;
  grid-template-columns: 1fr 5fr 2fr 1fr;
  grid-template-areas: 
  "header header header header"
  "hero hero hero hero"
  ". main sidebar ."
  "footer footer footer footer"; 
  color: var(--main-clr);
}

header, footer {
  background-color: var(--blue-clr);
}

header {
  grid-area: header;
  padding: 2rem 1rem;
  border-bottom: 1px solid var(--main-clr);
}

.header-description {
  font-family: var(--caveat-font-family);
  font-size: 3.6rem;
  font-weight: 600;
  color: var(--light-clr);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 1300px;
  margin-inline: auto;
}

.hero {
  grid-area: hero;
  position: relative;
  border-bottom: 1px solid var(--main-clr);
}

.hero::before{
  content: ''; 
  background: linear-gradient(rgba(54, 48, 138, 0.3) 10%, rgba(255, 148, 124, 0.2));
  position: absolute;
  inset: 0;
  pointer-events: none;
}

/* .legumes-here {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: var(--caveat-font-family);
  font-size: 2.5rem;
  color: rgb(255, 226, 226);
  text-shadow: 1px 1px 4px black;
} */

.bg-img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.main {
  grid-area: main;
  margin-top: 3.5rem;
}

.card {
  display: grid;
  /* grid-template-columns: 2fr 3fr; */
  grid-template-columns: auto 1fr;
  grid-template-rows: min-content auto;
  grid-template-areas: 
  "img title"
  "img content";
  border-radius: 10px;
  background-color: var(--light-clr);
  font-family: var(--tajawal-font-family);
  overflow: hidden;
  border: 1px solid gray;
  box-shadow: 5px 5px 7px 1px rgb(52, 52, 52, 0.4);
}

.card:nth-child(1),
.card:nth-child(2) {
  margin-bottom: 1rem;
}

.card h3 {
  padding: 1rem 0 0;
  text-align: center;
  font-size: 1.4rem;
  font-family: var(--tajawal-font-family);
}

.card article {
  padding: 0 2rem 1rem;
  font-size: 1.1rem;
}

.card article p {
  margin-top: 0.1em;
}

.img {
  display: block;
  max-width: 300px;
  width: 100%;
  aspect-ratio: 1/1.2;
  object-fit: cover;
  grid-area: img;
}

.title {
  grid-area: title;
}

.content {
  grid-area: content;
}

.sidebar {
  grid-area: sidebar;
  position: relative;
  background-color: var(--orange-clr);
  margin: 3.5rem 0 0 1.5rem;
  padding: 1.5rem;
  font-family: var(--tajawal-font-family);
}

.paperclip {
  position: absolute;
  top: -1.75rem;
  right: 2rem;
  display: block;
  height: 110px;
}

.layer {
  position: absolute;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  background-color: var(--light-clr);
  width: 100%;
  height: 100%;
}

.sidebar h2 {
  font-family: var(--caveat-font-family);
  font-size: 1.3rem;
  padding: 1rem 2rem;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.sidebar a {
  text-decoration: none;
  color: var(--main-clr);
  font-size: 1.2rem;
  font-weight: 450;
}

.sidebar li {
  margin-bottom: 1.2rem;
  margin-left: -1.2rem;
  padding-left: 1rem;
}

.sidebar li::marker {
  color: var(--blue-clr);
  content: '\2605';
  font-size: 1.2rem;
}

.sidebar a:hover {
  color: var(--blue-clr);
}

button:hover {
  cursor: pointer !important;
  pointer-events: auto;
}

footer {
  grid-area: footer;
  margin-top: 3.5rem;
  padding: 1.7em;
  border-top: 1px solid var(--main-clr);
}

footer section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid red;
  height: 100%;
}

.google-map {
  /* padding-bottom: 20%; */
/*   max-width: 80%; */
  position: relative;
}

.google-map iframe {
  position: absolute;
  width: 90%;
  height: 100%;
  left: 0;
  top:0;
}

.place-description {
  font-family: var(--tajawal-font-family);
  color: var(--light-clr);
  font-size: 1.1rem;
}

.place-description div {
  line-height: 1.5;
}

.location-address,
.phone-number,
.email-address {
  display: flex;
  align-items: center;
}

.place-description i {
  color: var(--orange-clr);
  margin-right: 5px;
}

.socials {
  margin-top: 2rem;
}

.socials a {
  text-decoration: none;
}

.socials i {
  font-size: 1.7rem;
  margin-right: 4px;
  transition: color 300ms ease;
  width: fit-content;
}

.socials a:hover i {
  color: var(--light-clr);
}

@media (max-width: 1024px) {
  .header-description {
    font-size: 3rem;
  }
  body {
    grid-template-areas: 
    "header header header header"
    "hero hero hero hero"
    "main main sidebar sidebar"
    "footer footer footer footer"; 
  }
  .card {
    margin-left: 1rem;
  }
  .sidebar {
    margin-right: 1.6rem;
    margin-left: 1rem;
  }
  .paperclip {
    right: 0.5rem;
  }
}

@media (max-width: 800px) {
  .header-description {
    font-size: 2.5rem;
  }
  body {
    grid-template-rows: /* 10em */auto 70vh auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "hero"
    "main"
    "sidebar"
    "footer"; 
  }
  .card {
    margin-inline: 1rem;
  }
  .sidebar {
    margin-right: 1.6rem;
    margin-left: 1rem;
  }
  .paperclip {
    right: 1.5rem;
  }
  footer section {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "contacts"
    "map"; 
    height: auto;
  }
  .google-map {
    position: static; 
    grid-area: map;
  }
  .google-map iframe {
    position: relative;
    width: 100%;
    height: 300px;
  }
  .place-description {
    grid-area: contacts;
    margin-inline: auto;
    margin-bottom: 2rem;
    text-align: center;
  }
}


/* https://www.tripadvisor.com/Restaurant_Review-g189852-d3478764-Reviews-Legumes-Stockholm.html */

/* https://www.everydayhealth.com/diet-nutrition/legumes-types-health-benefits-nutrition-facts-cooking-methods-and-more/ */